includes:
  - phpstan-baseline.neon
parameters:
  level: max
  paths:
    - Classes
    - Configuration
  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
    -
      identifier: missingType.generics
    -
      identifier: missingType.iterableValue
    -
      identifier: catch.neverThrown
      reportUnmatched: false
