includes:
  - phpstan-baseline.neon
parameters:
  level: max
  paths:
    - Classes
    - Configuration
  reportUnmatchedIgnoredErrors: true

  ignoreErrors:
    -
      identifier: missingType.generics
    -
      identifier: missingType.iterableValue
