<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-events" >
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.global_id" />
		</td>
		<td>
		{events.globalId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.title" />
		</td>
		<td>
		{events.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.teaser" />
		</td>
		<td>
		{events.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.details" />
		</td>
		<td>
		{events.details}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.price_info" />
		</td>
		<td>
		{events.priceInfo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.street" />
		</td>
		<td>
		{events.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.district" />
		</td>
		<td>
		{events.district}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.city" />
		</td>
		<td>
		{events.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.zip" />
		</td>
		<td>
		{events.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.web" />
		</td>
		<td>
		{events.web}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.booking" />
		</td>
		<td>
		{events.booking}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.ticket" />
		</td>
		<td>
		{events.ticket}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.facebook" />
		</td>
		<td>
		{events.facebook}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.youtube" />
		</td>
		<td>
		{events.youtube}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.latitude" />
		</td>
		<td>
		{events.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.longitude" />
		</td>
		<td>
		{events.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.images" />
		</td>
		<td>
				<f:image src="{events.images.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_events_domain_model_events.slug" />
		</td>
		<td>
		{events.slug}
		</td>
	</tr>
</table>
</html>