<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

    <f:layout name="Default" />

    <f:section name="content">
        <f:if condition="{settings.template} === 'table'">
            <f:then>
                {f:render(partial: 'Date/ListTable', arguments: _all)}
            </f:then>
            <f:else>
                {f:render(partial: 'Date/ListDefault', arguments: _all)}
            </f:else>
        </f:if>
    </f:section>

</html>
